# Data
data/raw/
data/processed/

# Outputs
results/
*.png
*.pdf

# Notebooks
documents/
.quarto/

# Functions
functions_/apLCMS
functions_/apLCMS_demo
functions_/ptw
functions_/PTW_Demo1.R
functions_/

# OS
.DS_Store

# Quarto / R Markdown rendered outputs
*_files/
_output/
*.html

# R environment
renv/library/
renv/staging/

# Mac junk
.DS_Store

# Temporary files
*.log

*.RData

*.RD